node_modules
**/node_modules

dist
**/dist

.env
**/.env
**/.env.*
!**/.env.example

*.db
*.db-journal
*.sqlite
*.sqlite-journal
**/prisma/*.db

logs
*.log
npm-debug.log*

.DS_Store
.idea/
.vscode/

backend/prisma/dev.db
